@import "tailwindcss";

@theme {
  --color-bg: #0D1117;
  --color-surface: #161B22;
  --color-accent: #58A6FF;
  --color-warning: #F0B72F;
  --color-success: #3FB950;
  --color-text: #E6EDF3;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}